<!-- Toolbar -->
<app-toolbar title="Laptop Check"></app-toolbar>

<mat-card class="wrapperCard">
  <mat-card-content>

    <!-- Vocation select -->
    <form [formGroup]="vocationForm">
      <mat-form-field class="vocation">
        <mat-select placeholder="Lehrberuf" formControlName="vocation" ngDefaultControl>
          <mat-option value="{{ Vocation.Informatiker }}">{{ Vocation.Informatiker | vocation }}</mat-option>
          <mat-option value="{{ Vocation.Schreiner }}">{{ Vocation.Schreiner | vocation }}</mat-option>
          <mat-option value="{{ Vocation.Hauswirtschaftpraktiker }}">{{ Vocation.Hauswirtschaftpraktiker | vocation }}</mat-option>
          <mat-option value="{{ Vocation.Zeichner }}">{{ Vocation.Zeichner | vocation }}</mat-option>
          <mat-option value="{{ Vocation.Koch }}">{{ Vocation.Koch | vocation }}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>

      <!-- Grid with two cols for the cards -->
      <mat-grid-list [cols]="gridCols" rowHeight="30em" (window:resize)="resize($event)">
        <mat-grid-tile>
          <mat-card class="specsCard">
            <mat-card-content>
              <!-- Left card - Specs each device has -->
              <form [formGroup]="componentsForm">
                <div class="specsWrapper">
                  <div class="spec">
                    <mat-form-field>
                      <mat-label>Anz. Prozessorkerne</mat-label>
                      <input matInput type="number" formControlName="core_count" (change)="validateUserInput('core_count', [1, 2, 3, 4, 6, 8])" ngDefaultControl>
                    </mat-form-field>
                    <br>
                  </div>

                  <div class="spec">
                    <mat-form-field>
                      <mat-label>{{ 'processor_frequency_ghz' | dimension }}</mat-label>
                      <input matInput type="number" formControlName="frequency"
                        (change)="validateUserInput('frequency', [1, 1.1, 1.2, 1.3, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2, 2.1, 2.2, 2.3, 2.3, 2.4, 2.5, 2.6, 2.7, 2.8, 2.9, 3, 3.1, 3,2, 3.3, 3.3, 3.4, 3.5, 3.6, 3.7, 3.8, 3.9, 4])" ngDefaultControl>
                    </mat-form-field>
                    <br>
                  </div>

                  <div class="spec">
                    <mat-form-field>
                      <mat-label>{{ 'memory_gb' | dimension }}</mat-label>
                      <input matInput type="number" formControlName="memory" (change)="validateUserInput('memory', [4, 8, 16, 32])" ngDefaultControl>
                    </mat-form-field>
                    <br>
                  </div>

                  <div class="spec">
                    <mat-form-field>
                      <mat-label>{{ 'storage_capacity_gb' | dimension }}</mat-label>
                      <input matInput type="number" formControlName="capacity" (change)="validateUserInput('capacity', [32, 64, 128, 256, 512, 1024, 2056])" ngDefaultControl>
                    </mat-form-field>
                    <br>
                  </div>

                  <div class="spec">
                    <mat-form-field>
                      <mat-label>{{ 'display_size_inch' | dimension }}</mat-label>
                      <input matInput type="number" formControlName="display_size" (change)="validateUserInput('display_size', [10, 10.3, 10.5, 11.6, 12, 12.3, 12.4, 13, 13.3, 13.4, 13.5, 13.9, 14, 14.2, 15, 15.6, 16, 16.1, 16.2, 17, 17.3])" ngDefaultControl> 
                    </mat-form-field>
                    <br>
                  </div>

                  <div class="spec">
                    <mat-form-field>
                      <mat-label>{{ 'storage_type' | dimension}}</mat-label>
                      <mat-select formControlName="storage_type" ngDefaultControl>
                        <mat-option value="{{ StorageType.HDD }}">HDD</mat-option>
                        <mat-option value="{{ StorageType.SSD }}">SSD</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </form>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-card class="specsCard">
            <mat-card-content>
              <!-- Right card - optional specs -->
              <form [formGroup]="toggleForm">
                <div class="specsWrapper">
                  <div class="spec">
                    <mat-label>{{ 'touchscreen' | dimension }}</mat-label>
                    <mat-slide-toggle formControlName="touchscreen" ngDefaultControl></mat-slide-toggle>
                    <br>
                  </div>

                  <div class="spec">
                    <mat-label>{{ 'pen' | dimension }}</mat-label>
                    <mat-slide-toggle formControlName="pen" ngDefaultControl></mat-slide-toggle>
                    <br>
                  </div>

                  <div class="spec">
                    <mat-label>{{ 'usb_c' | dimension }}</mat-label>
                    <mat-slide-toggle formControlName="usb_c" ngDefaultControl></mat-slide-toggle>
                    <br>
                  </div>

                  <div class="spec">
                    <mat-label>{{ 'ethernet' | dimension }}</mat-label>
                    <mat-slide-toggle formControlName="ethernet" ngDefaultControl></mat-slide-toggle>
                  </div>
                </div>
              </form>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
  </mat-card-content>
  <mat-card-actions>
    <hr class="line">
    <!-- Hidden button so the check button is inside the card -->
    <button mat-raised-button class="hidden">Hidden</button>
    <button mat-raised-button color="primary" [disabled]="!vocationForm.valid" class="checkBtn" (click)="sendData()">Check</button>
  </mat-card-actions>
</mat-card>