* {
  --gold: #C5B358;
  --red: #FF4D4D;
  --yellow: yellow;
}

mat-card {
  margin: 2vh 2vw;
  padding: 2vh 2vw;
}

.mark {
  text-align: center;
}

.gold {
  color: var(--gold)
}

.red {
  color: var(--red);
}

.yellow {
  color: var(--yellow);
}

.line {
  width: 98%;
  height: 1px;
  border-width: 0;
  background-color:white;
}

.cardFooter {
  text-align: end;
  width: 100%;
}

.detailsTable {
  width: 100%;
}

td {
  height: 6vh;
  width: 33%;
}

.deviceComponent {
  text-align: center;
} 


.result {
  text-align: right;
}

.tick {
  color: var(--gold);
}



@media only screen and (max-width: 800px) {
  .mark {
    font-size: 100px;
    padding: 25vh 0;
  }

  button {
    margin-left: 85vw;
  }
}